@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Bebas Neue", sans-serif;
    font-family: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.full-container{
    max-width: 1440px;
    margin: 0 auto;
}
.half-container{
    max-width: 1171px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* navbar styles */
.header-container{
    height: 715px;
    background-color:rgb(255, 251, 240);
    border: 2px solid transparent;
}
.header-content{
    height: 100%;
}
.navbar{
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}
.nav-left img{
    width: 291.11px;
    height: 39.27px;
}
.nav-right{
    width: 424px;
}
.nav-items{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(60, 60, 60);
    justify-content: space-between;
}

/* banner styles */
.banner-container{
    height: 560px;
    margin: 0 auto;
    gap: 80px;
}
.banner-text-container{
    width: 450px;
}
.banner-text-container h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    margin-top: 100px;
    letter-spacing: 2px;
}
.banner-text-container p{
    font-family: "Roboto", sans-serif;
    color: rgb(62, 62, 62);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-primary{
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(164, 188, 70),rgb(133, 160, 25) 100%);
    width: 170px;
    height: 60px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.btn-primary img{
    width: 26px;
    height: 26px;
}
.btn-primary p{
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.btn-primary:hover{
    border: 2px solid rgb(133, 160, 25);
}
.banner-image-container{
    width: 500px;
    height: 500px;
    position: relative;
}
.image-1{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 30px;
    left: 50px;
}
.image-2{
    width: 80%;
    height: auto;
    position: absolute;
    z-index: 10;
    bottom: 16px;
    left: 90px;
}






